body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #ffb347, #ff5f6d, #5b2c83);
    color: white;
    text-align: center;
}

.container {
    background: rgba(255,255,255,0.15);
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

h1 {
    font-size: 40px;
}

p {
    font-size: 18px;
}
