* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background:
        linear-gradient(to bottom, rgba(255,140,180,0.5), rgba(255,200,120,0.4)),
        url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee")
        center/cover no-repeat;
}

.container {
    z-index: 2;
    width: 85%;
    max-width: 450px;
    padding: 35px;
    text-align: center;
    color: white;
    background: rgba(255,255,255,0.18);
    backdrop-filter: blur(12px);
    border-radius: 25px;
    box-shadow: 0 0 30px rgba(255,255,255,0.5);
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 25px;
}

button {
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    background: white;
    color: #ff4f81;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.08);
}

#message {
    display: none;
    margin-top: 25px;
    line-height: 1.7;
}

.heart {
    position: absolute;
    bottom: -20px;
    animation: float 6s linear infinite;
    z-index: 1;
}

@keyframes float {

    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateY(-110vh) scale(1.5);
        opacity: 0;
    }
}
